body{
    width: 800px;
    height: 800px;
    border: solid 1px black;
    margin: 0 auto;
}

header{
    height: 20%;
    width: 100%;
    border: 1px solid blue;
    float: left;
}

nav{
    height: 69%;
    width: 20%;
    border: 1px solid green;
    float: left;
}

.Conteudo{
    width: 79%;
    height: 69%;
    border: 1px solid yellow;
    float: left;
}

footer{
    height: 10%;
    width: 100%;
    border: 1px solid brown;
    float: left;
}